<a href="/" style="text-decoration:none; color: #212529;"><h1>Shorten <small class="text-muted">your links</small></h1></a>

<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6"><br><br><br>
		<form method="POST">
			<fieldset>
				<div class="form-group row">
					<div class="col-sm-10">
						<input class="form-control form-control-lg" type="password" placeholder="Password" id="inputLarge" name="password">
					</div>
					<button type="submit" class="btn btn-primary col-sm-2">Auth</button>
				</div>
			</fieldset>
		</form><br>
	</div>
	<div class="col-lg-3"></div>
</div>